<tr>
  <td>
    <p>Review by: <%= findUser(description.user_id) %></p>
    <span>Review:</span>
    <p style="border: 1px black solid;"> <%= description.description %></p>
    <br>
    <p>Rated this product: <%= description.rating %>/5</p>
  </td>
</tr>
